// Primary Colors
$primaryText: #323232;
$primaryCTA: #0095ff;
$secondaryText: #afafaf;
$primaryBackground: #ffffff;

// Secondary Colors
$videoPlayerComponents: #000000;
$hoverCTA: #0065ad;
$dividOutline: #e1e1e1;
$formBackground: #fafafa;
