@use "../../styles/partials/colors" as cl;
@use "../../styles/partials/breakpoints" as bk;
@use "../../styles/partials/global";
@use "../../styles/partials/fonts";

.header {
  background-color: cl.$primaryBackground;
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;

  &-logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
    text-decoration: none;
    @include bk.tablet {
      justify-content: left;
      margin: 0;
    }
    &__img {
      width: 120px;
      height: 25px;
    }
  }
  &-form {
    display: flex;
  }
  &-search {
    display: flex;
    justify-content: left;
    position: relative;
    width: 100%;
    input[type="text"] {
      border: 1px solid cl.$dividOutline;
      background-color: cl.$formBackground;
    }
    ::placeholder {
      color: cl.$primaryText;
    }
    &-bar {
      width: 100%;
      height: 2.25rem;
      padding: 0 0 0 2.25rem;
      margin: 1rem 0rem;
      border-radius: 4px;
    }
    &-icon {
      position: absolute;
      left: 0.75rem;
      top: 1.55rem;
      z-index: 1;
      height: 1rem;
    }
  }
  &-upload__icon {
    height: 1.25rem;
    position: absolute;
    z-index: 2;
    left: 0.75rem;
  }

  &-btn {
    display: flex;
    background-color: cl.$primaryCTA;
    color: cl.$primaryBackground;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    height: 2.5rem;
    width: 100%;
    font-weight: bold;
    font-size: 0.75rem;
    margin: 1rem auto;
    position: relative;
    margin-top: 0rem;
    @include bk.tablet {
      margin: 1rem auto;
    }
    &__link {
      text-decoration: none;
    }
  }
  &-user {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 15%;

    &__pic {
      background-image: url("../../assets/images/Mohan-muruge.jpg");
      background-size: cover;
      object-fit: fill;
      border-radius: 50%;
      @include bk.mobile {
        width: 36px;
        height: 36px;
      }
      @include bk.tablet {
        max-width: 40px;
        max-height: 40px;
      }
    }
  }
}

// Media Query For Screen Under 768px
@include bk.mobile {
  .header {
    &-user {
      width: 13%;
    }
    & > :nth-child(1) {
      flex: 0 0 100%;
    }
    & > :nth-child(2) {
      flex: 0 0 87%;
    }
    & > :nth-child(4) {
      flex: 0 0 100%;
    }
  }
}

// Media Query For Screen Under 1280px
@include bk.tablet {
  .header {
    margin: 0 1.5rem;
    align-items: center;
    &-logo {
      &__img {
        display: flex;
        align-items: center;
      }
    }
    //logo
    & > :nth-child(1) {
      order: 1;
      flex: 0 0 33%;
      justify-content: left;
      align-items: flex-start;
      margin-top: 0;
    }

    // search bar
    & > :nth-child(2) {
      order: 2;
      flex: 0 0 40%;
    }

    // avarta picture
    & > :nth-child(3) {
      order: 4;
      flex: 0 0 7%;
      justify-content: right;
    }

    //button
    & > :nth-child(4) {
      order: 3;
      flex: 0 0 20%;
      padding-left: 1.5rem;
    }

    &-user__pic {
      width: 36px;
      height: 36px;
      @include bk.tablet {
        width: 40px;
        height: 40px;
      }
    }
  }
}

// Media Query For Large Screen 1280px and up
@include bk.desktop {
  .header {
    margin: 0 7.5rem;
    align-items: center;
    & > :nth-child(1) {
      flex: 0 0 55%;
    }
    & > :nth-child(2) {
      flex: 0 0 25%;
    }
    & > :nth-child(3) {
      flex: 0 0 5%;
      justify-content: right;
    }
    & > :nth-child(4) {
      flex: 0 0 15%;
      padding-right: 0;
    }
  }
}
